<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogFileName" value="C:\\Logs\\ConfigMgr.Configuration.Webservice\\ConfigMgr.log"/>
    <add key="LogDebug" value="off"/>
    <add key="SccmUser" value=""/>
    <add key="SccmUserDomain" value=""/>
    <add key="SccmUserPassword" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="SMS_XXX" connectionString="Data Source={0};Initial Catalog={1};Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <identity impersonate="false"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="ConfigMgr.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>